.top-title{
    color:#000 ;
    font-size:32px ;
    font-weight: 600;
    line-height: normal ;
    letter-spacing: normal;

}

.text{
    color: var(--blackish-green, #121);
    opacity: 0.5;
    font-size: $h6 ;
    line-height:normal ;
}

